.formWrapper {
  margin-bottom: 15%

}

.formWrapper textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #daa520;
  background-color: #fdf5e1;
  color: #034bb6;
  font-size: 20px;
  margin-bottom: 10px;
  resize: none;
}