.header {
    grid-area: h;
    background-color: greenyellow;
}

.header img {
    width: 25px;
    height: 25px;
}

.headerLogin {
    font-size: 20px;
}

.headerWrapper {
    display: flex;
    justify-content: space-around;
}