.header {
    grid-area: h;
    background-color: #023b91;
    h1{
       color: aqua;
    }

}

.header img {
    width: 25px;
    height: 25px;
}

.headerLogin {
    font-size: 20px;

}

.headerWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}