.nav {
    grid-area: n;
    background-color: #034bb6;
    padding: 20px;
    a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 40px;
        :hover,
        :active {
            color: gold;
        }
    }
}

.nav__bottom {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
}