.item {
    color: black;

}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

p {
    font-weight: 600;
    font-size: 20px;
}

span {
    font-size: 18px;
    font-weight: 500;
}